body {
  background-color: #c7e5ff;
  font-family: sans-serif;
  text-align: left;
  padding: 50px;
  margin-top: 70px;
  margin-bottom: 50px;
}

h1 {
  color: #2c3e50;
  margin-top: 70px;
}

img {
  position: fixed;
  display: block;
  right: 50px;
  width: 50%;
  height: auto;
}

.navbar {
  background-color: #a7e6ff;
  }

.btn-lg {
  background-color: #3e7bcf;
  color: #ffffff;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  }