@{
    ViewData["Title"] = "Home";
}

<header>
    <div class="row align-items-center">
        <div class="col-md-6">
            <h1 class="display-4">Welcome to Our Animal Shelter</h1>
            <div class="mt-4">
                <a asp-controller="Animals" asp-action="Index" class="btn btn-lg">
                    <i class="fa-solid fa-paw"></i> View Animals
                </a>
            </div>
        </div>
        <div class="image-container col-md-6">
            <img src="~/images/Home_cat.png" alt="Cat" class="img-fluid">
        </div>
    </div>
</header>